body
{
    background-color: palevioletred;
}
h1
{
    color: black;
    background-color: pink;
}
#show_sketch
{
    float: right;
}
canvas
{
    border: 5px solid turquoise;
    border-radius: 20px;
    animation-name: example;
    animation-duration: 4s;
    margin-top: 100px;
    animation-iteration-count: infinite;
}
@keyframes example  {
    from{box-shadow: 1px 1px 38px teal;}
    to {box-shadow: 1px 1px 38px rgb(243, 4, 88);}
}
p
{
    padding-top: 10px;
    font-size: 25px;
}